<!-- Promotion area -->
<section>
<div style="border-radius:0.8em;background-color:#f0f0f0;padding:20px;margin:50px;color:#000;">
  <div style="width:100%;min-height:400px;display:inline-block;"> <!-- container -->
    <div style="float:left;margin:20px;padding:0 20px;width:40%;"><a href="/pgrailsbook"><img src="/assets/images/aapsql-book-cover-small.jpg" alt="High Performance PostgreSQL for Rails book cover image" style="width:300px;"/></a></div>
    <div style="float:left;width:40%;margin-top:30px;">
      <h3>High Performance PostgreSQL for Rails Book</h3>
      <h4 style="font-weight:100;">Reliable, Scalable, Maintainable Database Applications</h4>
      <p>
      <blockquote style="font-size:0.8em;">As a senior Rails dev, it's rare to find a book <br/>that challenges and excites me like this one did.</blockquote>
      <cite style="font-size:0.8em;display:inline-block;float:right;">- Andrew M.</cite>
      </p>
      <p><a href="/pgrailsbook" class="button" style="font-size:1.2em;text-decoration:none;">Learn More</a></p>
    </div>
  </div>
</div>
</section>
