<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.name }}",
  "url": "{{ site.url }}",
  "image": "{{ site.url }}/{{ site.author.image }}",
  "sameAs": [
    "https://www.linkedin.com/in/{{ site.linkedin }}",
    "https://github.com/{{ site.github }}",
    "https://stackoverflow.com/users/{{ site.stackoverflow }}",
    "https://bsky.app/profile/{{ site.bluesky.username }}"
  ],
  "jobTitle": "{{ site.description }}",
  "worksFor": {
    "@type": "Organization",
    "name": "{{ site.works_for }}"
  }
}
</script>

<meta property="og:description" content="{{ site.meta_description }}" />
<meta property="og:image" content="{{ site.url }}{{ page.featured_image | default: site.author.image }}" alt="{{ page.featured_image_caption | default: page.title }}" />
