<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.name }}",
  "url": "{{ site.url }}",
  "image": "{{ site.url }}/{{ site.author.image }}",
  "sameAs": [
    "https://www.linkedin.com/in/{{ site.linkedin }}",
    "https://github.com/{{ site.github }}",
    "https://stackoverflow.com/users/{{ site.stackoverflow }}",
    "https://bsky.app/profile/{{ site.bluesky.username }}"
  ],
  "jobTitle": "{{ site.description }}",
  "worksFor": {
    "@type": "Organization",
    "name": "{{ site.works_for }}"
  }
}
</script>

<meta property="og:description" content="{{ site.meta_description }}" />
<meta property="og:image" content="{{ page.featured_image | default: site.author.image }}" alt="{{ page.featured_image_caption | default: page.title }}" />
<meta property="og:image:width" content="1200"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ site.url}}{{ page.image }}"/>
<meta name="twitter:description" content="{{ page.description }}"/>
